<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DoCode &mdash; {{vid.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    

  </head>
  

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>  
    
    {% set img = "images/" + vid.poster %}
    <div class="intro-section single-cover" id="home-section">
      <div class="slide-1 " style="background-image: url('{{ url_for('static', filename=img) }}');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-12">
              <div class="row justify-content-center align-items-center text-center">
                <div class="col-lg-6">
                  <h1 data-aos="fade-up" data-aos-delay="0">{{course.title}}</h1>
                  <h2 data-aos="fade-up" data-aos-delay="0">{{vid.title}}</h2>
                </div>                                
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
    
      {% set video = "videos/" + vid.video %}
        <video id="myVideo" style="width: 95%; height: auto; margin:3rem" controls>
            <source src="{{ url_for('static', filename=video) }}" type="video/mp4"\>
        </video>
        
    <br><hr><br>

<div class="form-group row">
  <div class="col-md-6">
    <a href="/show_videos/{{course.sno}}"><button class="btn btn-primary">Show Videos</button></a>
  </div>
</div> 
<div class="form-group row">
  <div class="col-md-6">
    <a href="/dashboard"><button class="btn btn-primary">Dashboard</button></a>
  </div>
</div>    
<div class="form-group row">
  <div class="col-md-6">
    <a href="/logout"><button class="btn btn-primary">Log Out</button></a>
  </div>
</div>
      
    
  </div> <!-- .site-wrap -->

  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>

  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
  </body>
</html>
